/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cormorant+Unicase&display=swap');

html {
    background: url("https://res.cloudinary.com/dyxe4g62g/image/upload/v1616252447/images/albums/MS3/new_background_2_pq1syk.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-heading {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Akaya Telivigala", sans-serif;
    margin: 0;
}

p {
    font-family: "Bitter", sans-serif;
    font-size: 20px;
}

/* --- Navbar --- */
nav {
    background-color: transparent;
    margin-bottom: 50px;
}

.nav-text {
    font-family: "Cormorant Unicase", sans-serif;
    text-shadow: 2px 2px black;
}

.sidenav li>a {
    color: white;
}

nav ul a {
    font-size: 30px;
    font-weight: 800;
}

/* --- Footer --- */
.page-footer {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 40px;
    padding: 0;
    max-height: 64px;
}

.page-footer i {
    margin: 0px 20px 0px 20px;
    padding-top: 5px;
    color: white;
}

.page-footer i:hover {
    color: black;
}

.no-padding {
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.recipe-image {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;

}


.row .col.s3 {
    padding-left: 40px;
}

.custom_list li {
    list-style-type: disc !important;
    font-size: 20px;
    font-family: "Bitter", sans-serif;
    list-style-position: inside;
}

.ingredients .custom_list li {
    border-right: none;
    margin-right: auto;
    padding-right: auto;
}

.box-shadow {
    box-shadow: 0px 10px 10px 0px black;
}

.box-color {
    background-color: rgba(238, 238, 238, 0.5);
    background-image: url('https://res.cloudinary.com/dyxe4g62g/image/upload/v1616248713/images/albums/MS3/chalkboard-1_zuwdry.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.underline {
    text-decoration: underline;
    margin-bottom: 15px;
}

.input-field>label {
    font-family: "Bitter", sans-serif;
    font-size: 25px;
    color: black;
}



/*-- code from https://stackoverflow.com/questions/38996019/how-to-change-the-text-color-in-a-materializecss-select-dropdown --*/
ul.dropdown-content.select-dropdown li span {
    background-color: black;
    color: white;
    box-shadow: 0px 10px 10px 0px black;
    font-family: "Bitter", sans-serif;
}

.search-box {
    min-height: 80px;
    padding: 10px;
    border-radius: 12px;
}

/*-- Code to change placeholder text from w3 Schools documentation --*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.sidenav li>a {
    text-shadow: none;
    font-size: 30px;
}

.logo-box {
    color: white;
    background-color: transparent;
}

.ingredients {
    background-color: transparent;
    padding: 5px;
    color: white;
}


.chalk-board {
    border: 5px solid #7e5644;
    border-radius: 12px;
}


.row div .custom-box-padding {
    padding: 5px;
    border: 2px solid white;
    border-radius: 12px;
}

/*-- Centering Materialize nav. code from https://stackoverflow.com/questions/38964113/how-can-i-create-a-navbar-with-center-aligned-links-using-materialize --*/

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
}

/*-- Piping between Nav links code from https://stackoverflow.com/questions/25247072/how-to-separate-link-items-with-pipeline --*/
ul li:not(:last-child) {
    border-right: 2px solid white;
    margin-right: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 992px) {
    ul li:not(:last-child) {
        border-right: none;
    }
    h1 {
        font-size: 40px;
    }
}

/*-- Turn off Nav shadow code from https://stackoverflow.com/questions/51750706/how-to-turn-off-materializes-default-shadows-for-navbar/51751637 --*/
.no-shadows {
    box-shadow: none!important;
}

.flashes {
    background-color: rgba(0, 0, 0, 0.5);
}


/*-- Rule taken from Devtools in chrome to move the label up more when inputing data --*/
.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label, .input-field>input[type=date]:not(.browser-default)+label, .input-field>input[type=time]:not(.browser-default)+label {
    -webkit-transform: translateY(-30px) scale(0.8);
    transform: translateY(-30px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/*-- Code to change Chromes autocomplete field background color to black. code from https://dev.to/atndesign/a-trick-to-change-the-autocomplete-background-color-21ll --*/
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1b1b1b inset !important;
  -webkit-text-fill-color: white !important;
}

form {
    margin-top: 20px;
}

