/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cormorant+Unicase&display=swap');

html {
    background: url("https://res.cloudinary.com/dyxe4g62g/image/upload/v1615153236/images/albums/MS3/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page-heading {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Akaya Telivigala", sans-serif;
    margin: 0;
}

p {
    font-family: "Bitter", sans-serif;
    font-size: 20px;
}

/* --- Navbar --- */
nav {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.nav-text {
    font-family: "Cormorant Unicase", sans-serif;
    text-shadow: 2px 2px black;
}

nav ul a {
    font-size: 30px;
}

/* --- Footer --- */
.page-footer {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 40px;
    padding: 0;
    max-height: 64px;
}

.page-footer i {
    margin: 0px 20px 0px 20px;
    padding-top: 5px;
    color: black;
}

.page-footer i:hover {
    color: #fafafa;
}

.no-padding {
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.recipe-image {
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;

}


.row .col.s3 {
    padding-left: 40px;
}

.custom_list li {
    list-style-type: disc !important;
    font-size: 20px;
    font-family: "Bitter", sans-serif;
     list-style-position: inside;

}

.box-shadow {
    box-shadow: 0px 10px 10px 0px black;
}

.box-color {
    background-color: rgba(238, 238, 238, 0.5);
    background-image: url('https://res.cloudinary.com/dyxe4g62g/image/upload/v1616248713/images/albums/MS3/chalkboard-1_zuwdry.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.underline {
    text-decoration: underline;
}

.input-field>label {
    font-family: "Bitter", sans-serif;
    font-size: 25px;
    color: black;
}



/*-- code from https://stackoverflow.com/questions/38996019/how-to-change-the-text-color-in-a-materializecss-select-dropdown --*/
ul.dropdown-content.select-dropdown li span {
    background-color: #bdbdbd;
    color: black;
    box-shadow: 0px 10px 10px 0px black;
    font-family: "Bitter", sans-serif;
}

.search-box {
    min-height: 80px;
    padding: 10px;
    border-radius: 12px;
}

/*-- Code to change placeholder text from w3 Schools documentation --*/
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

.sidenav li>a {
    text-shadow: none;
    font-size: 30px;
}

.logo-box {
    color: white;
    background-color: transparent;
}

.ingredients {
    background-color: transparent;
    padding: 5px;
    color: white;
}


.chalk-board {
    border: 5px solid #7e5644;
    border-radius: 12px;
}


.row div .custom-box-padding {
    padding: 5px;
    border: 2px solid white;
    border-radius: 12px;
}