/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

html { 
  background: url("https://res.cloudinary.com/dyxe4g62g/image/upload/v1615153236/images/albums/MS3/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: "Akaya Telivigala", sans-serif;
}

.nav-text {
    font-family: "Akaya Telivigala", sans-serif;
}
/* --- Navbar --- */
nav {
    background-color: rgba(0, 0, 0, 0.1);
}

/* --- Footer --- */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

