<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/dyxe4g62g/image/upload/v1615153238/images/albums/MS3/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <title>Kenan's Kitchen</title>
</head>
<body>
    <!-- Page heading logo -->
    <header>
        <div class="row center-align">
            <div class="col s4 offset-s4 box-shadow box-color chalk-board page-heading">
                <h1 class="white-text">Kenan's Kitchen</h1>
            </div>
        </div>
        <!-- Navbar -->
        <nav class="nav-center no-shadows">
            <div class="nav-wrapper center-align">
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-ellipsis-v"></i></a>
                <ul class="hide-on-med-and-down nav-text">
                    <li><a href="{{ url_for('recipes')}}">Recipes</a></li>
                    <li><a href="{{ url_for('range')}}">Premium Utensils</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('add_recipe')}}">Add a Recipe</a></li>
                    <li><a href="{{ url_for('user_profile')}}">My Recipes</a></li>
                    <li><a href="{{ url_for('logout')}}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register')}}">Register</a></li>
                    <li><a href="{{ url_for('login')}}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- SideNav -->
        <ul class="sidenav chalk-board box-color nav-text" id="mobile-demo">
            <li><a href="{{ url_for('recipes')}}">Recipes</a></li>
            <li><a href="{{ url_for('range')}}">Utensils</a></li>
            {% if session.user %}
            <li><a href="{{ url_for('add_recipe')}}">Add a Recipe</a></li>
            <li><a href="{{ url_for('user_profile')}}">My Recipes</a></li>
            <li><a href="{{ url_for('logout')}}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('register')}}">Register</a></li>
            <li><a href="{{ url_for('login')}}">Log In</a></li>
            {% endif %}
        </ul>
    </header>
    <section>
        <!-- flash messages display-->
        {% with messages = get_flashed_messages() %}
        {% if messages%}
        {% for message in messages %}
        <div class="row white-text flashes">
            <h4 class="center-align">
                {{ message }}
            </h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <!-- Main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- footer -->
    <footer class="page-footer darken-4 ">
        <div class="container ">
            <div class="row center-align">
                <div class="col s12">
                    <a href="http://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="http://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="http://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="http://www.pinterest.com" target="_blank"><i class="fab fa-pinterest-square"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Script links -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js')}}" ></script>
    <script src="{{ url_for('static', filename='js/add_recipe.js')}}" ></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" ></script>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" ></script>  
<!-- Code to make the cloudinary widget work -->
<script>  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'dyxe4g62g', 
  uploadPreset: 'dxjujppb'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
      img_url = result.info['secure_url']
      console.log(result.info['secure_url']);
      document.getElementById("img_url").value = img_url;
    }
  }
)
</script>
</body>
</html>