{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    <div class="row">
        <div class="col s12 box-shadow box-color chalk-board center-align">
            <h5 class="underline white-text">Filter Products</h5>
            <div class="row">
                <div class="col s12 white-text filter-tags">
                    <a href="{{ url_for('by_rating') }}">Highest Rated</a>
                    <a href="{{ url_for('utensil_filter', id='pot') }}">Pots</a>
                    <a href="{{ url_for('utensil_filter', id='pan') }}">Pans</a>
                    <a href="{{ url_for('utensil_filter', id='knife') }}">Knives</a>
                    <a href="{{ url_for('utensil_filter', id='utensil') }}">Utensils</a>

                </div>
            </div>
        </div>
    </div>
    {{ pagination.info }}
    {{ pagination.links }}
    {% for product in products %}
    {% if products|length != 0 %}

    <div class="row">
        <div class="col s12">
            <div class="card box-shadow box-color chalk-board">
                <div class="card-content ">
                    <div class="row ">
                        <div class="col s6 offset-s3 chalk-outline custom-box-padding">
                            {% if product.img_url %}
                            <img class="recipe-image box-shadow" src="{{ product.img_url }}"
                                alt="Image of {{ product.name }}">
                            {% else %}
                            <img class="recipe-image box-shadow"
                                src="https://res.cloudinary.com/dyxe4g62g/image/upload/v1616167504/image-not-found_y6b1wx.jpg"
                                alt="No image uploaded">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 white-text center-align info-box ">
                            <h3 class="underline">{{ product.name|title }}</h3><br>
                            <h4>Recommended Price: £{{ product.msrp|title }}</h4>
                            {% if product.rating == 1 %}
                            <h4>User rating: <i class="fas fa-star yellow-text"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></h4>
                            {% elif product.rating == 2 %}
                            <h4>User rating: <i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i></h4>
                            {% elif product.rating == 3 %}
                            <h4>User rating: <i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star"></i><i class="fas fa-star"></i></h4>
                            {% elif product.rating == 4 %}
                            <h4>User rating: <i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star"></i></h4>
                            {% elif product.rating == 5 %}
                            <h4>User rating: <i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i
                                    class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i></h4>
                            {% else %}
                            <h4>User rating: Product not yet rated </h4>
                            {% endif %}
                            <h4>Size: {{ product.diameter }} cm</h4>
                            <h4>Non-stick: {{ product.nonstick }}</h4>
                            <h4>Care: {{ product.care }}</h4>
                            <h4>Induction safe: {{ product.induction }}</h4>

                        </div>

                    </div>
                    <div class="row center-align">
                        <div class="col s12 white-text center-align info-box ">
                            <h4 class="underline">About:</h4>
                            <p>{{ product.about }}</p>
                        </div>
                    </div>
                    <div class="row center-align">
                        <div class="col s12 white-text">
                            <h4>Buy now from one of our retail partners</h4>
                            <div class="div col s12 affiliate_links">
                                <a href="http://www.amazon.co.uk" target="_blank"><i class="fab fa-amazon"></i></a>
                                <a href="http://www.ebay.com" target="_blank"><i class="fab fa-ebay"></i></a>
                                <a href="https://disney.fandom.com/wiki/Buy_n_Large" target="_blank"><i
                                        class="fab fa-buy-n-large"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            {% else %}
            <h3>No Recipes Found!</h3>
            {% endif %}

            {% endfor %}


        </div>
    </div>
    {{ pagination.info }}
    {{ pagination.links }}
</div>

{% endblock %}