{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <div class="card-panel teal">
                <div class="row">
                    <div class="col s4">
                <img class="recipie-image" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-how-to-make-an-omelette-horizontal-1542310072.png" alt="">
                </div>
                <div class="col s8">
                <h3>Basic Omlette</h3><br>
                <h4>Cooking Time: 5min</h4>
                <h4>Difficulty: Basic</h4>
                <ul class="recipie-list">
                    <li>3 eggs</li>
                    <li>Cheese</li>
                    <li>butter</li>
                </ul>
                </div>
                <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a
                    panel in other frameworks.
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}