{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    {% for recipie in recipies %}

        <div class="row">
            <div class="col s12">
                <div class="card teal">
                    <div class="card-content">
                        <div class="row">
                            <div class="col s4">
                                <img class="recipie-image" src="{{ recipie.img_url }}"
                                    alt="Image of {{ recipie.food_name }}">
                            </div>
                            <div class="col s8">
                                <h3>{{ recipie.food_name }}</h3><br>
                                <h4>Cooking Time: {{ recipie.cook_time }}</h4>
                                <h4>Difficulty: {{ recipie.difficulty }}</h4>
                                <h4>Submitted by: {{ recipie.created_by }}</h4>

                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <ul class="recipie-list">
                                        <h4>Ingredients</h4>
                                        {% for ingredient in recipies.ing_name %}
                                        <li>{{ ingredient }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}