{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <div class="card teal">
                <div class="card-content">
                    <div class="row">
                        <div class="col s4">
                            <img class="recipie-image"
                                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-how-to-make-an-omelette-horizontal-1542310072.png"
                                alt="">
                        </div>
                        <div class="col s8">
                            <h3>Basic Omlette</h3><br>
                            <h4>Cooking Time: 5min</h4>
                            <h4>Difficulty: Basic</h4>

                        </div>
                        <br><br><br><br>
                        <div class="row">
                            <div class="col s12">
                                <span class="white-text">The basic omlette is a quick and easy breakfast that even the
                                    most
                                    beginner
                                    cook can easily master.
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <ul class="recipie-list">
                                    <h4>Ingredients</h4>
                                    <li>3 eggs</li>
                                    <li>Cheese</li>
                                    <li>butter</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a href="#test4">Step 1</a></li>
                            <li class="tab"><a class="active" href="#test5">Step 2</a></li>
                            <li class="tab"><a href="#test6">Step 3</a></li>
                            <li class="tab"><a href="#test7">Step 4</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test4">Season the beaten eggs well with salt and pepper. Heat the oil and butter in a
                            non-stick
                            frying pan over a medium-low heat until the butter has melted and is foaming.</div>
                        <div id="test5"> STEP 2
                            Pour the eggs into the pan, tilt the pan ever so slightly from one side to another
                            to
                            allow the eggs to swirl and cover the surface of the pan completely. Let the mixture
                            cook for about 20 seconds then scrape a line through the middle with a spatula.</div>
                        <div id="test6">STEP 3
                            Tilt the pan again to allow it to fill back up with the runny egg. Repeat once or
                            twice
                            more until the egg has just set.</div>
                        <div id="test7">At this point you can fill the omelette with whatever you like – some grated
                            cheese,
                            sliced ham, fresh herbs, sautéed mushrooms or smoked salmon all work well. Scatter
                            the
                            filling over the top of the omelette and fold gently in half with the spatula. Slide
                            onto a plate to serve.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}