{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card-panel box-color box-shadow align-center center-align">
                <span class="black-text">
                    <h3>Register a User</h3>
                </span>

                <div class="row center-align">
                    <form class="col s8 black-text" method="POST" action="{{ url_for('register') }}">
                        <div class="row">
                            <div class="input-field col s6 offset-s6">
                                <input id="username" name="username" type="text" class="validate" required>
                                <label for="username">User Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s6">
                                <input id="name" name="name" type="text" class="validate" required>
                                <label for="name">Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s6 offset-s6">
                                <input id="password" type="password" name="password" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 offset-s6">
                                <input id="email" type="email" name="email" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="col s6 offset-s6 btn-large green">
                    Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}