{% extends "base.html" %}
{% block content %}
<div class="container center-align">
    <div class="row">
        <div class="col s12">
            <div class="card box-shadow box-color chalk-board">
                <div class="card-content ">
                    <div class="row ">
                        <div class="col s6 offset-s3 chalk-outline custom-box-padding">
                            <img class="recipe-image box-shadow"
                                src="https://res.cloudinary.com/dyxe4g62g/image/upload/v1617365213/images/albums/MS3/utensils_yiiknm.webp"
                                alt="Image of Kitchen Utensils">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 white-text center-align info-box ">
                            <h3 class="underline">Quality Kitchen Utensils</h3><br>
                            <p>Kenan's Kitchen premium utensils are finely crafted to ensure the easiest and stress free
                                cooking experience. Designed in Italy our range of products come with a life time
                                warantee as well as a 30 day money back guarantee. </p>
                        </div>
                        <div class="row center-align">
                            <a href="{{ url_for('range') }}" class="btn-large grey box-shadow black-text">See full range</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}