{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>{{ session["name"]|title }}'s Recipies</h1>
            <h5>Here are all the recipies you have created: </h5>
        </div>
    </div>

    {% for recipe in recipies %}
        {% if session["user"] == recipe["created_by"|lower ] %}
            <div class="row">
                <div class="col s12">
                    <div class="card box-color ">
                        <div class="card-content box-shadow">
                            <div class="row">
                                <div class="col s4">
                                    <img class="recipe-image box-shadow" src="{{ recipe.img_url }}"
                                        alt="Image of {{ recipe.food_name }}">
                                </div>
                                <div class="col s8 center-align">
                                    <h3 class="underline">{{ recipe.food_name|title }}</h3><br>
                                    <h4>Cooking Time: {{ recipe.cook_time }}min</h4>
                                    <h4>Difficulty: {{ recipe.difficulty }}</h4>
                                    <h4>Submitted by: {{ recipe.created_by|title }}</h4>
                                    <h4>Submitted on: {{ recipe.date_created }}</h4>
                                    

                                </div>
                                <!-- Gets indevidual ingredients from ing_name key -->

                            </div>
                            <div class="row">
                                <div class="col s3 ingredients">
                                    <h4 class="underline">Ingredients:</h4>
                                    <ul class="custom_list left-align">
                                        {% if recipe.ing_name %}
                                        {% for ingredient in recipe.ing_name %}
                                        <li>{{ ingredient|title }}</li>
                                        {% endfor %}
                                        {% else %}
                                        <p>No ingredients added</p>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 center-align">
                                    {% for step in recipe.steps %}
                                        <h5 class="underline">Step {{ loop.index }}:</h5>
                                        <p>{{ step }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col s12">
                                     <button data-target="modal1" class="btn red modal-trigger box-shadow">Delete</button>
                                     <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-flat yellow accent-4 box-shadow waves-effect">Edit</a>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>

            <!-- modal to make sure you want to delete recipe -->
                    <!-- Modal Structure -->
                    <div id="modal1" class="modal box-shadow box-color center-align">
                        <div class="modal-content white-text">
                            <h4>Delete recipie</h4>
                            <p>This will permanently remove this recipe from Kenan's Cook Book. Are you sure you want to delete this recipe?</p>
                        </div>
                        <div class="modal-footer white-text box-color box-shadow center-align">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-flat red accent-4 box-shadow waves-effect">Delete Recipie</a>
                            <a href="#!" class="modal-close waves-effect teal btn-flat box-shadow">Cancel</a>
                        </div>
                    </div>
        {% endif %}
    {% endfor %}    

</div>
{% endblock %}