{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 center-align white-text flashes">
            <h1>{{ session["name"]|title }}'s Recipes</h1>
            <h5>Here are all the recipes you have created: </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 box-shadow box-color chalk-board center-align">
            <h5 class="underline white-text">Filter recipes</h5>
            <div class="row">
                <div class="col s12 white-text filter-tags">
                    <a href="{{ url_for('by_cook_time') }}">Sort by cooking time</a>
                    <a href="{{ url_for('by_international') }}">International Recipes</a>
                    <a href="{{ url_for('by_italian') }}">Italian Recipes</a>
                    <a href="{{ url_for('by_british') }}">British Recipes</a>
                    <a href="{{ url_for('by_american') }}">American Recipes</a>
                    <a href="{{ url_for('by_latin') }}">Latin Recipes</a>
                    <a href="{{ url_for('by_middleeast') }}">Middle Eastern Recipes</a>
                    <a href="{{ url_for('by_asian') }}">Asian Recipes</a>
                    <a href="{{ url_for('by_indian') }}">Indian Recipes</a>
                    <a href="{{ url_for('by_african') }}">African Recipes</a>
                    <a href="{{ url_for('by_european') }}">European Recipes</a>
                </div>
            </div>
        </div>
    </div>

    {% for recipe in recipes %}
    {% if session["user"] == recipe["created_by"|lower ] %}
    <div class="row">
        <div class="col s12">
            <div class="card box-shadow box-color chalk-board">
                <div class="card-content ">
                    <div class="row ">
                        <div class="col s6 offset-s3 chalk-outline custom-box-padding">
                            {% if recipe.img_url %}
                            <img class="recipe-image box-shadow" src="{{ recipe.img_url }}"
                                alt="Image of {{ recipe.food_name }}">
                            {% else %}
                            <img class="recipe-image box-shadow"
                                src="https://res.cloudinary.com/dyxe4g62g/image/upload/v1616167504/image-not-found_y6b1wx.jpg"
                                alt="No image uploaded">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 white-text center-align info-box ">
                            <h3 class="underline">{{ recipe.food_name|title }}</h3><br>
                            <h4>Nationality: {{ recipe.nationality|title }}</h4>
                            <h4>Cooking Time: {{ recipe.cook_time }}min</h4>
                            <h4>Difficulty: {{ recipe.difficulty }}</h4>
                            <h4>Submitted by: {{ recipe.created_by|title }}</h4>
                            <h4>Submitted on: {{ recipe.date_created }}</h4>

                        </div>
                        <!-- Gets individual ingredients from ing_name key -->

                    </div>
                    <div class="row">
                        <div class="col s4 center-align ingredients">
                            <h4 class="underline">Ingredients:</h4>
                            <ul class="custom_list left-align">
                                {% if recipe.ing_name %}
                                {% for ingredient in recipe.ing_name %}
                                <li>{{ ingredient|title }}</li>
                                {% endfor %}
                                {% else %}
                                <li>No ingredients added</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col s7 offset-s1 center-align logo-box">
                            <!-- Gets individual steps from steps key -->
                            {% for step in recipe.steps %}
                            <h4 class="underline">Step {{ loop.index }}:</h4>
                            <p>{{ step }}</p>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <button data-target="modal1" class="btn red modal-trigger box-shadow">Delete</button>
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                                class="btn-flat yellow accent-4 box-shadow waves-effect">Edit</a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- modal to make sure you want to delete recipe -->
        <!-- Modal Structure -->
        <div id="modal1" class="modal box-shadow box-color center-align">
            <div class="modal-content white-text">
                <h4>Delete recipie</h4>
                <p>This will permanently remove this recipe from Kenan's Cook Book. Are you sure you want to delete this
                    recipe?</p>
            </div>
            <div class="modal-footer white-text box-color box-shadow center-align">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                    class="btn-flat red accent-4 box-shadow waves-effect">Delete Recipie</a>
                <a href="#!" class="modal-close waves-effect teal btn-flat box-shadow">Cancel</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
    {% endblock %}